body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-8 {
  padding: 2rem !important;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-32 {
  margin-top: 8rem;
}
.mb-8 {
  margin-bottom: 2rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.profile-card,
.quiz-card,
.question-card,
.platform-card,
.leaderboard-card {
  border: 2px solid #2979ff;
  border-radius: 16px;
  padding: 1rem;
  position: relative;
}

.field-label {
  font-weight: 500;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 16px;
  border: 2px solid #2979ff;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.avatar-selector {
  background: #ffffff;
  border-radius: 16px;
  padding: 1rem;
  padding-top: 0;
}

.avatar-selector-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.avatar-selector-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.avatar-selector-header p {
  font-size: 20px;
  font-weight: bold;
}

.avatar-selector-header .close-button {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

img.close-button:hover {
  border-radius: 0 !important;
  border-color: transparent !important;
  padding: 0;
}

.avatar-selector img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  cursor: pointer;
}

.avatar-selector img:hover {
  border-radius: 16px;
  border: 2px solid #2979ff;
}

.badge-icon {
  width: 70px;
  height: 70px;
  border: 3px solid #2ecc71;
  padding: 12px;
  border-radius: 50%;
  cursor: default;
  margin: 0 12px;
}
.score-bubble {
  width: 80px;
  height: 80px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 28px;
  border-radius: 50%;
  background-color: #2ecc71;
  right: 30px;
  top: -40px;
}

.score-bubble-inline {
  width: 80px;
  height: 80px;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 28px;
  border-radius: 50%;
  background-color: #2ecc71;
}

.quiz-board,
.platform-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  padding: 40px;
}

.quiz-card {
  height: 100%;
}

.platform-card {
  padding-bottom: 0.5rem;
}

.leaderboard-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  right: 16px;
}

.timer-icon {
  width: 22px;
  height: 22px;
}

.question-card {
  max-width: 800px;
  margin: 4rem auto;
  padding: 2rem;
}

.start-quiz {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-field-label {
  font-weight: bold;
  margin-top: 20px;
  display: block;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .page {
  background: #34495e;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 1rem;
}

.page.current {
  background: #7f8c8d;
  color: #fff;
}

.questions-list {
  border: 2px solid #2979ff;
  border-radius: 1rem;
  padding: 0 1rem;
}

.question-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;

  padding: 1rem 0;
}

.question-item p {
  font-size: 18px;
  margin: 0;
}

.question-item .tools {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.question-item .tools img {
  width: 28px;
  height: 28px;
  margin-left: 1rem;
  cursor: pointer;
}

.vertical-divider {
  background: #e2e2e2;
  margin-left: 1rem;
  width: 1px;
  height: 30px;
}

.bb-1 {
  border-bottom: 2px solid #e2e2e2;
}

.animate-change {
  transition: all 0.3s linear;
}
